In [1]:
import pandas as pd

In [3]:
file_path = "/app/data/csv/data-upload_AFCU_consumer-details-01_2023-06-07.csv"

df = pd.read_csv(file_path,
                 header=0,
                 index_col=0,
                 low_memory=False)

In [5]:
df.head()

,ConsumerID,EntityType,DateOfBirthOrDateOfFormation,Gender,State,ZipCode
0,286474,Individual,1978-12-17 00:00:00,NaN,AR,72417
1,16350,Individual,1973-12-26 00:00:00,NaN,AR,721175217
2,19135,Individual,1979-09-13 00:00:00,NaN,AR,720191956
3,14518,Individual,1943-12-31 00:00:00,NaN,AR,716712527
4,19762,Individual,1943-05-28 00:00:00,NaN,AR,720079267

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334601 entries, 0 to 334600
Data columns (total 6 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ConsumerID                    334601 non-null  int64
 1   EntityType                    334601 non-null  object
 2   DateOfBirthOrDateOfFormation  323010 non-null  object
 3   Gender                        0 non-null       float64
 4   State                         326732 non-null  object
 5   ZipCode                       326731 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 17.9+ MB

In [7]:
df.ConsumerID.astype('int32')
df.EntityType.astype(str)
df.State.astype(str)

0          AR
1          AR
2          AR
3          AR
4          AR
         ...
334596    nan
334597    nan
334598    nan
334599    nan
334600    nan
Name: State, Length: 334601, dtype: object

In [8]:
df.ZipCode.info()

<class 'pandas.core.series.Series'>
Index: 334601 entries, 0 to 334600
Series name: ZipCode
Non-Null Count   Dtype
--------------   -----
326731 non-null  object
dtypes: object(1)
memory usage: 5.1+ MB

In [9]:
df.ZipCode[1][5:]

'5217'

In [10]:
ZipCodeExtension = df.ZipCode.str[5:]
ZipCodeExtension.name = "ZipCodeExtension"
ZipCodeExtension.head()

0
1    5217
2    1956
3    2527
4    9267
Name: ZipCodeExtension, dtype: object

In [11]:
df.ZipCode = df.ZipCode.str[0:5]

In [12]:
df.head()

   ConsumerID  EntityType DateOfBirthOrDateOfFormation  Gender State ZipCode
0      286474  Individual          1978-12-17 00:00:00     NaN    AR   72417
1       16350  Individual          1973-12-26 00:00:00     NaN    AR   72117
2       19135  Individual          1979-09-13 00:00:00     NaN    AR   72019
3       14518  Individual          1943-12-31 00:00:00     NaN    AR   71671
4       19762  Individual          1943-05-28 00:00:00     NaN    AR   72007

In [13]:
new_df = pd.concat([df, ZipCodeExtension],
                axis=1)

In [14]:
new_df.head()

,ConsumerID,EntityType,DateOfBirthOrDateOfFormation,Gender,State,ZipCode,ZipCodeExtension
0,286474,Individual,1978-12-17 00:00:00,NaN,AR,72417,
1,16350,Individual,1973-12-26 00:00:00,NaN,AR,72117,5217
2,19135,Individual,1979-09-13 00:00:00,NaN,AR,72019,1956
3,14518,Individual,1943-12-31 00:00:00,NaN,AR,71671,2527
4,19762,Individual,1943-05-28 00:00:00,NaN,AR,72007,9267

In [15]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334601 entries, 0 to 334600
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ConsumerID                    334601 non-null  int64
 1   EntityType                    334601 non-null  object
 2   DateOfBirthOrDateOfFormation  323010 non-null  object
 3   Gender                        0 non-null       float64
 4   State                         326732 non-null  object
 5   ZipCode                       326731 non-null  object
 6   ZipCodeExtension              326731 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 28.5+ MB

In [16]:
df = new_df

In [17]:
df.ZipCode.astype('Int16')

0         6881
1         6581
2         6483
3         6135
4         6471
          ...
334596    <NA>
334597    <NA>
334598    <NA>
334599    <NA>
334600    <NA>
Name: ZipCode, Length: 334601, dtype: Int16

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334601 entries, 0 to 334600
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ConsumerID                    334601 non-null  int64
 1   EntityType                    334601 non-null  object
 2   DateOfBirthOrDateOfFormation  323010 non-null  object
 3   Gender                        0 non-null       float64
 4   State                         326732 non-null  object
 5   ZipCode                       326731 non-null  object
 6   ZipCodeExtension              326731 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 28.5+ MB

In [19]:
date_time = df.DateOfBirthOrDateOfFormation
date_time.head()

0    1978-12-17 00:00:00
1    1973-12-26 00:00:00
2    1979-09-13 00:00:00
3    1943-12-31 00:00:00
4    1943-05-28 00:00:00
Name: DateOfBirthOrDateOfFormation, dtype: object

In [20]:
date = date_time.str.split(" ").str[0]
time = date_time.str.split(" ").str[1]

In [21]:
df.head()

,ConsumerID,EntityType,DateOfBirthOrDateOfFormation,Gender,State,ZipCode,ZipCodeExtension
0,286474,Individual,1978-12-17 00:00:00,NaN,AR,72417,
1,16350,Individual,1973-12-26 00:00:00,NaN,AR,72117,5217
2,19135,Individual,1979-09-13 00:00:00,NaN,AR,72019,1956
3,14518,Individual,1943-12-31 00:00:00,NaN,AR,71671,2527
4,19762,Individual,1943-05-28 00:00:00,NaN,AR,72007,9267

In [22]:
date.head()
time.head()

0    00:00:00
1    00:00:00
2    00:00:00
3    00:00:00
4    00:00:00
Name: DateOfBirthOrDateOfFormation, dtype: object

In [23]:
date.name = "DateOfBirthOrFormation"
time.name = "Time"

In [24]:
time.unique()

array(['00:00:00', nan], dtype=object)

Time is either midnight or nan; therefore, drop column as it is not useful

In [26]:
date.head()

0    1978-12-17
1    1973-12-26
2    1979-09-13
3    1943-12-31
4    1943-05-28
Name: DateOfBirthOrFormation, dtype: object

In [25]:
df.head()

,ConsumerID,EntityType,DateOfBirthOrDateOfFormation,Gender,State,ZipCode,ZipCodeExtension
0,286474,Individual,1978-12-17 00:00:00,NaN,AR,72417,
1,16350,Individual,1973-12-26 00:00:00,NaN,AR,72117,5217
2,19135,Individual,1979-09-13 00:00:00,NaN,AR,72019,1956
3,14518,Individual,1943-12-31 00:00:00,NaN,AR,71671,2527
4,19762,Individual,1943-05-28 00:00:00,NaN,AR,72007,9267

In [31]:
df = pd.concat([df, date], axis=1)

In [32]:
df.head()

,ConsumerID,EntityType,DateOfBirthOrDateOfFormation,State,ZipCode,ZipCodeExtension,DateOfBirthOrFormation
0,286474,Individual,1978-12-17 00:00:00,AR,72417,,1978-12-17
1,16350,Individual,1973-12-26 00:00:00,AR,72117,5217,1973-12-26
2,19135,Individual,1979-09-13 00:00:00,AR,72019,1956,1979-09-13
3,14518,Individual,1943-12-31 00:00:00,AR,71671,2527,1943-12-31
4,19762,Individual,1943-05-28 00:00:00,AR,72007,9267,1943-05-28

In [28]:
df.Gender.unique()

array([nan])

Gender is all nan's; therefore, drop column.
also drop DateOfBirthOrDateOfFormation since data is represented in DateOfBirthOrFormation

In [29]:
df.drop(columns=["Gender"], axis=1, inplace=True)

In [33]:
df.drop(columns=["DateOfBirthOrDateOfFormation"], axis=1, inplace=True)

In [34]:
df.head()

,ConsumerID,EntityType,State,ZipCode,ZipCodeExtension,DateOfBirthOrFormation
0,286474,Individual,AR,72417,,1978-12-17
1,16350,Individual,AR,72117,5217,1973-12-26
2,19135,Individual,AR,72019,1956,1979-09-13
3,14518,Individual,AR,71671,2527,1943-12-31
4,19762,Individual,AR,72007,9267,1943-05-28

In [35]:
df.columns

Index(['ConsumerID', 'EntityType', 'State', 'ZipCode', 'ZipCodeExtension',
       'DateOfBirthOrFormation'],
      dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334601 entries, 0 to 334600
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ConsumerID              334601 non-null  int64
 1   EntityType              334601 non-null  object
 2   State                   326732 non-null  object
 3   ZipCode                 326731 non-null  object
 4   ZipCodeExtension        326731 non-null  object
 5   DateOfBirthOrFormation  323010 non-null  object
dtypes: int64(1), object(5)
memory usage: 25.9+ MB

In [37]:
df.DateOfBirthOrFormation = pd.to_datetime(df["DateOfBirthOrFormation"])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334601 entries, 0 to 334600
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ConsumerID              334601 non-null  int64
 1   EntityType              334601 non-null  object
 2   State                   326732 non-null  object
 3   ZipCode                 326731 non-null  object
 4   ZipCodeExtension        326731 non-null  object
 5   DateOfBirthOrFormation  323010 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 25.9+ MB

In [41]:
num_rows = df.ConsumerID.shape[0]

In [50]:
print(num_rows - df.ZipCode.isnull().sum())
print(100 - (num_rows - df.ZipCode.isnull().sum()) / num_rows * 100)

326731
2.3520551343241607

# Writing dataframe to file

In [57]:
df.to_csv("/app/data/csv/consumer.csv")

In [59]:
df.to_parquet("/app/data/parquet/consumer.parquet")